@model IEnumerable<eBaySearch.Finding.SearchItem>
    @{
        ViewBag.Title = "Search eBay";
    }
    <h1 style="text-align:center">
        Find the cheapest items on eBay's marketplace
    </h1>
    <h2 style="text-align:center">Enter the item in the text box below</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {

        <div class="row">
            <div class="col-lg-8 col-lg-push-2">
                <div class="input-group Search">
                    <input id="Id" class="form-control Search" name="Id" type="text" maxlength="150" placeholder="Enter search..."/>
                    <span class="input-group-btn">
                        <input class="btn-primary btn searchButton" name="SearchButton" type="submit" value="Go!" /><a href="#" onclick="$('#Id').val('')"> Clear</a>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>

    }


    @if (Model != null)
    {
        <text>
            <div id="avgPriceMessage" class="col-md-12 text-center">
                <h2>The average price for @ViewBag.Message is <span id="avgPrice"></span></h2>
            </div>
            <div class="col-md-12">
                <h2>This is the cheapest item of your search</h2>
                <div id="" class="table-responsive">
                    <table id="cheapestItemTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Item Description</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Shipping</th>
                                <th>Total Price</th>
                            </tr>
                    </table>

                </div>
            </div>

            <div class="col-md-12 table-responsive">
                <table id="searchResults" class="table table-bordered tablesorter highchart" data-graph-container-before="1" data-graph-type="line">
                    <caption> Price Results for @ViewBag.Message</caption>
                    <thead>
                        <tr>
                            <th data-graph-hidden="1">Item</th>
                            <th data-graph-hidden="1">Item Description</th>
                            <th data-graph-hidden="1">Category</th>
                            <th data-graph-hidden="1">Location</th>
                            <th>Price</th>
                            <th data-graph-type="area">Shipping</th>
                            <th data-graph-hidden="1">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var seller in Model.GroupBy(i => i.sellingStatus.currentPrice.Value).OrderByDescending(i => i.Count()))
                        {
                            foreach (var item in Model.Where(i => i.sellingStatus.currentPrice.Value == @seller.Key).Take(4))
                            {
                                <tr>
                                    <td class="itemimg">
                                        <img alt="no image" height="90" src="@item.galleryURL" />
                                    </td>
                                    <td>
                                        <a href="@item.viewItemURL" target="_blank">@item.title </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.primaryCategory.categoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.location)
                                    </td>
                                    <td class="price">
                                        @Html.DisplayFor(modelItem => item.sellingStatus.currentPrice.Value)
                                    </td>
                                    <td class="shippingPrice">
                                        @{var shippingCost = @Html.DisplayFor(modelItem => item.shippingInfo.shippingServiceCost.Value);
                                            var originalCost = @Html.DisplayFor(modelItem => item.sellingStatus.currentPrice.Value);
                                            //var test = shippingCost.toString();
                                        }
                                        @Html.DisplayFor(modelItem => item.shippingInfo.shippingServiceCost.Value)

                                    </td>
                                    <td class="totalPrice"></td>


                                </tr>
                                                }

                                            }

                    </tbody>
                </table>
            </div>

        </text>
                                            }
                                            else { <p id="noResultMsg" class="text-center">@ViewBag.noResultsMsg</p> }
